<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="opaide.natures.OpaProjectNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="opaide.natures.OpaProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/opa-logo-orange_(16x16).png"
            id="opaide.natureImage"
            natureId="opaide.natures.OpaProjectNature">
      </image>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Opa Editor"
            extensions="opa"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="opaide.editors.opasrc.OpaSrcEditor"
            id="opaide.editors.OpaSrcEditor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
     <initializer class="opaide.preferences.OpaPreferencesInitializer" />
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="opaide.preferences.OpaWorkbenchPreferencePage"
            id="opaide.page1"
            name="Opa">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="opaide.workbenchActionSet"
            label="Opa Ide ActionSet"
            visible="true">
         <menu
               id="opaide.workbenchMenu"
               label="Opa Ide">
            <groupMarker
                  name="contents">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="opaide.editors.actions.SeeAboutOpa"
               id="opaide.seeAboutOpa"
               label="About"
               menubarPath="opaide.workbenchMenu/contents"
               tooltip="About Opa">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="opaide.editors.launch.configuration.OpaClassicConfigurationDelegate"
            id="opaide.launchConfigurationType"
            modes="run"
            name="Opa Application"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="opaide.editors.builder.OpaProgramLaunchDelegate"
            id="opaide.OpaProgramLaunchConfigurationType"
            modes="run"
            name="Opa Program1">
      </launchConfigurationType>
      <launchConfigurationType
            category="org.eclipse.ui.externaltools.builder"
            delegate="opaide.editors.builder.OpaProgramLaunchDelegate"
            id="opaide.OpaProgramBuilderLaunchConfigurationType"
            modes="run"
            name="Opa Program2">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.externaltools.configurationDuplicationMaps">
     <configurationMap
            sourceType="OpaProgramLaunchConfigurationType"
            builderType="OpaProgramBuilderLaunchConfigurationType">
     </configurationMap>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="opaide.launchConfigurationType"
            icon="icons/opa-logo-vertclair_(16x16).png"
            id="opaide.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="opaide.OpaProgramLaunchConfigurationType"
            icon="icons/opa-logo-jauneclair_(16x16).png"
            id="opaide.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="opaide.OpaProgramBuilderLaunchConfigurationType"
            icon="icons/opa-logo-voilet_(16x16).png"
            id="opaide.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="opaide.editors.launch.configuration.OpaClassicLaunchConfigurationTabGroup"
            id="opaide.launchConfigurationTabGroup"
            type="opaide.launchConfigurationType">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="opaide.OpaProgramTabGroup"
            id="opaide.OpaLaunchConfigurationTabGroup.program"
            type="opaide.OpaProgramLaunchConfigurationType">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="opaide.editors.builder.OpaProgramBuilderTabGroup"
            id="opaide.OpaLaunchConfigurationTabGroup.program.builder"
            type="opaide.OpaProgramBuilderLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="opaide.editors.launch.shortcut.OpaSimpleApplicationLaunchShortcut"
            icon="icons/opa-logo-vertclair_(16x16).png"
            id="opaide.shortcut1"
            label="Simple Opa Application"
            modes="run">
         <contextualLaunch>
            <enablement>
               <or>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.opa">
                        </test>
                     </iterate>
                  </with>
                  <!--<with
                        variable="activeEditor">
                     <instanceof
                           value="opaide.editors.opasrc.OpaSrcEditor">
                     </instanceof>
                  </with>-->
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.ui.IEditorPart">
                     </instanceof>
                     <instanceof
                           value="opaide.editors.opasrc.OpaSrcEditor">
                     </instanceof>
                  </with>
               </or>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category 
          id="opaide.editors.wizard.MyWizard" 
          name="Opa">
      </category>
      <wizard
            category="opaide.editors.wizard.MyWizard"
            class="opaide.editors.wizard.OpaNewProjectWizard"
            icon="icons/opa-logo-bleu_(16x16).png"
            id="opaide.wizard1"
            name="Opa Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="opaide.launchGroup1"
            id="opaide.launchGroup1"
            image="opaide.launchGroup1"
            label="label"
            mode="run">
      </launchGroup>
   </extension>

</plugin>
